<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="pagination">
    <!-- Pagination -->
    <nav class="navbar navbar-fixed-bottom">
        <div class="pagination" th:with="baseUrl=${URLparameter}">
        <span th:if="${pager.indexOutOfBounds()}">
            Page is out of bounds. Go back to <a class="pageLink"
                                                 th:href="@{${baseUrl}(page=1)}">Home</a>.
        </span>
            <span th:unless="${pager.indexOutOfBounds()}">
            <span th:if="${pager.hasPrevious()}">
                <a class="pageLink"
                   th:href="@{${baseUrl}(page=0)}">&laquo; first</a>
                <a class="pageLink"
                   th:href="@{${baseUrl}(page=${pager.getPageIndex() - 1})}"> previous</a>
            </span>
            <span th:if="${pager.getTotalPages() != 1}"
                  th:text="'Page ' + ${pager.getPageIndex()} + ' of ' + ${pager.getTotalPages()-1} + '.'">
            </span>
            <span th:if="${pager.hasNext()}">
                <a class="pageLink"
                   th:href="@{${baseUrl}(page=${pager.getPageIndex() + 1})}">next</a>
                <a class="pageLink"
                   th:href="@{${baseUrl}(page=${pager.getTotalPages() - 1})}">last &raquo;</a>
            </span>
        </span>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                </span>
            </li>
        </ul>
        <span class="navbar-text">
                © Codegym 2020
            </span>
    </nav>



    <script src="https://kit.fontawesome.com/96ec192e4d.js" crossorigin="anonymous"></script>
    <script src="../../static/js/script.js" type="text/javascript" th:src="@{/js/script.js}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.0/js/halfmoon.min.js"></script>
    <script>
        function toggleDemo() {
            halfmoon.toggleDarkMode();
        }
    </script>
</div>
</body>
</html>