<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <style>

    </style>
</head>
<body>

<div th:fragment="posts" style="margin-top: 70px">
    <div class="content-wrapper">
        <div class="container-fluid" th:each="post : ${pager.posts}" th:object="${user}">
            <div class="row row-eq-spacing-lg">
                <div class="col-lg-9">
                    <div class="content">
                        <a class="content-title" th:text="${post.title}" th:href="@{'/post/' + ${post.id}}">
                            Post title
                        </a>
                    </div>
                    <div class="card">
                        <h2 class="card-title" th:text="${post.body}">
                            Post body
                        </h2>
                    </div>
                    <div class="content">
                        <div class="fake-content"></div>
                        <div class="fake-content w-150"></div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="content">
                        <h2 class="content-title font-size-20">
                            <p th:text="'Created: ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy')} + ' by '">
                                Created by
                            </p>
                            <p>Username: <a th:text="${post.user.username}" th:href="@{'/blog/' + ${post.user.username}}">User</a>
                            </p>
                        </h2>
                        <span class="likes" title="Like" th:text="${post.likeCount}">Like count</span>
                        <div sec:authorize="isAuthenticated()">
                            <button class="btn btn-primary btn-sm" type="button"
                                    th:onclick="'like(\'' + ${post.id} +'\',\''+${user.id} + '\')'">
                                <i class="fas fa-heart" aria-hidden="true"></i> Like</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>