<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Comment</title>
    <div th:replace="/fragments/header :: header-css"></div>
</head>
<body>


<div id="page-wrapper" class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom with-transitions"
     data-sidebar-type="overlayed-sm-and-down">

    <!--    Navbar-->
    <nav class="navbar">
        <div class="navbar-content">
            <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        <a th:href="@{/home}" class="navbar-brand ml-10 ml-sm-20">
            <img src="../static/images/logo.png" alt="logo" th:src="@{images/logo.png}">
            <span class="d-none d-sm-flex">Fakeblog</span>
        </a>
        <div class="navbar-content ml-auto">
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="fas fa-moon"  aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>
            <span sec:authorize="!isAuthenticated()">
                 <a href="#" class="btn btn-primary" role="button" th:href="@{/login}">Get started</a>
            </span>
        </div>
    </nav>

    <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>

    <!--    sidebar-->
    <div class="sidebar">
        <div class="sidebar-menu">
            <div class="sidebar-content">
                <input type="text" class="form-control" placeholder="Search">
                <div class="mt-10 font-size-12">
                    Press <kbd>Enter</kbd> to focus
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <h5 class="sidebar-title">Getting started</h5>
                <div class="sidebar-divider"></div>
                <a th:href="@{/registration}" class="sidebar-link sidebar-link-with-icon active">
                    <span class="sidebar-icon">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </span>
                    Sign up
                </a>
                <a th:href="@{/login}" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                    </span>
                    Sign in
                </a>
            </div>
            <div sec:authorize="hasRole('USER')">
                <h5 class="sidebar-title">My blog</h5>
                <div class="sidebar-divider"></div>
                <a th:href="@{/newPost}" class="sidebar-link sidebar-link-with-icon"
                >
                    <span class="sidebar-icon">
                        <i class="far fa-file" aria-hidden="true"></i>
                    </span>
                    New post
                </a>
                <a th:href="@{'/blog/' + ${#authentication.getName()}}" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-table" aria-hidden="true"></i>
                    </span>
                    My blog
                </a>
            </div>
            <a th:href="@{/logout}" class="sidebar-link sidebar-link-with-icon" sec:authorize="isAuthenticated()">
                    <span class="sidebar-icon">
                        <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                    </span>
                Logout
            </a>
        </div>
    </div>

    <!--    comment-->
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body mx-auto">
                <!-- Inline form with form-groups -->
                <form autocomplete="off" action="#" th:action="@{/createComment}"
                      th:object="${comment}" method="post" role="form"
                      class="w-400 mw-full">
                    <fieldset>
                        <div class="form-group">
                            <label for="comment" class="required">Write new comment</label>
                            <div class="form-group">
                                <label th:if="${#fields.hasErrors('body')}" th:errors="*{body}"
                                       class="alert alert-danger"></label>
                                <input type="text" th:field="*{body}" class="form-control" id="comment"
                                       placeholder="Comment" required="required">
                            </div>
                            <input type="hidden" th:field="*{post}"/>
                            <input type="hidden" th:field="*{user}"/>
                        </div>
                        <div class="form-group mb-0">
                            <input type="submit" class="btn btn-primary ml-auto" value="Comment">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <!-- footer -->
    <nav class="navbar navbar-fixed-bottom">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                </span>
            </li>
        </ul>
        <span class="navbar-text">
                © Codegym 2020
            </span>
    </nav>
</div>
<div th:replace="/fragments/footer :: footer"></div>


</body>
</html>