<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>


<div id="page-wrapper" class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom with-transitions"
     data-sidebar-type="overlayed-sm-and-down">

    <!--    Navbar-->
    <nav class="navbar">
        <div class="navbar-content">
            <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        <a th:href="@{/home}" class="navbar-brand ml-10 ml-sm-20">
            <img src="../../static/images/logo.png" alt="fake-logo" th:src="@{images/logo.png}">
            <span class="d-none d-sm-flex">Luon Vuituoi</span>
        </a>
        <div class="navbar-content ml-auto">
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>
            <span sec:authorize="!isAuthenticated()">
        <a href="#" class="btn btn-primary" role="button" th:href="@{/login}">Get started</a>
        </span>
        </div>
    </nav>

    <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>

    <!--    sidebar-->
    <div class="sidebar">
        <div class="sidebar-menu">
            <div class="sidebar-content">
                <input type="text" class="form-control" placeholder="Search">
                <div class="mt-10 font-size-12">
                    Press <kbd>/</kbd> to focus
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <h5 class="sidebar-title">Getting started</h5>
                <div class="sidebar-divider"></div>
                <a th:href="@{/registration}" class="sidebar-link sidebar-link-with-icon active">
                    <span class="sidebar-icon">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </span>
                    Sign up
                </a>
                <a th:href="@{/login}" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </span>
                    Sign in
                </a>
            </div>
            <div sec:authorize="hasRole('USER')">
                <h5 class="sidebar-title">My blog</h5>
                <div class="sidebar-divider"></div>
                <a th:href="@{/newPost}" class="sidebar-link sidebar-link-with-icon"
                >
                    <span class="sidebar-icon">
                        <i class="far fa-file" aria-hidden="true"></i>
                    </span>
                    New post
                </a>
                <a th:href="@{'/blog/' + ${#authentication.getName()}}" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-table" aria-hidden="true"></i>
                    </span>
                    My blog
                </a>
            </div>
            <a th:href="@{/logout}" class="sidebar-link sidebar-link-with-icon" sec:authorize="isAuthenticated()">
                    <span class="sidebar-icon">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </span>
                Logout
            </a>
        </div>
    </div>


    <!-- Login form -->
    <div class="content-wrapper">
    <div class="card">
        <div class="card-body mx-auto">
            <!-- Inline form with form-groups -->
            <form th:action="@{/login}" method="post" class="form-inline w-400 mw-full">
                <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
                <fieldset>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="required w-100" for="username">Username</label>
                        <!-- w-100 = width: 10rem (100px) -->
                        <input type="text" name="username" class="form-control" placeholder="Username" id="username"
                               required="required" autofocus="true">
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required w-100" for="password">Password</label>
                        <!-- w-100 = width: 10rem (100px) -->
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password"
                               required="required">
                    </div>
                    <br>
                    <div class="form-group mb-0"> <!-- mb-0 = margin-bottom: 0 -->
                        <div class="custom-control">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="remember-me" value="">
                                <label for="remember-me">Remember me</label>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary ml-auto" value="Sign in">
                        <!-- ml-auto = margin-left: auto -->
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    </div>


    <!-- footer -->
    <nav class="navbar navbar-fixed-bottom">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                </span>
            </li>
        </ul>
        <span class="navbar-text">
                © Codegym 2020
            </span>
    </nav>
</div>


<div th:replace="/fragments/footer :: footer"/>

</body>
</html>