<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>

<div th:replace="/fragments/header :: header"/>

<div class="container" style="margin-top: 70px">

    <div class="jumbotron">
        <h1 th:text="${user.name} + '\'s Blog'">Username Blog</h1>
    </div>


    <div th:replace="/fragments/posts :: posts"/>

    <div th:replace="/fragments/pagination :: pagination(URLparameter='/blog/' + ${user.username})"/>

</div>
<!-- /.container -->

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>