<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Sign up</title>

    <div th:replace="/fragments/header :: header-css"></div>

</head>
<body>

<div id="page-wrapper" class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom with-transitions"
     data-sidebar-type="overlayed-sm-and-down">

    <!--    Navbar-->
    <nav class="navbar">
        <div class="navbar-content">
            <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        <a th:href="@{/home}" class="navbar-brand ml-10 ml-sm-20">
            <img src="../../static/images/logo.png" alt="logo" th:src="@{images/logo.png}">
            <span class="d-none d-sm-flex">Fakeblog</span>
        </a>
        <div class="navbar-content ml-auto">
            <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
                <span class="sr-only">Toggle dark mode</span>
            </button>
            <span sec:authorize="!isAuthenticated()">
        <a href="#" class="btn btn-primary" role="button" th:href="@{/login}">Get started</a>
        </span>
        </div>
    </nav>

    <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>

    <!--    sidebar-->
    <div class="sidebar">
        <div class="sidebar-menu">
            <div class="sidebar-content">
                <input type="text" class="form-control" placeholder="Search">
                <div class="mt-10 font-size-12">
                    Press <kbd>Enter</kbd> to focus
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <h5 class="sidebar-title">Getting started</h5>
                <div class="sidebar-divider"></div>
                <a th:href="@{/registration}" class="sidebar-link sidebar-link-with-icon active">
                    <span class="sidebar-icon">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </span>
                    Sign up
                </a>
                <a th:href="@{/login}" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                    </span>
                    Sign in
                </a>
            </div>
            <div sec:authorize="hasRole('USER')">
                <h5 class="sidebar-title">My blog</h5>
                <div class="sidebar-divider"></div>
                <a th:href="@{/newPost}" class="sidebar-link sidebar-link-with-icon"
                >
                    <span class="sidebar-icon">
                        <i class="far fa-file" aria-hidden="true"></i>
                    </span>
                    New post
                </a>
                <a th:href="@{'/blog/' + ${#authentication.getName()}}" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-table" aria-hidden="true"></i>
                    </span>
                    My blog
                </a>
            </div>
            <a th:href="@{/logout}" class="sidebar-link sidebar-link-with-icon" sec:authorize="isAuthenticated()">
                    <span class="sidebar-icon">
                        <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                    </span>
                Logout
            </a>
        </div>
    </div>


    <!-- Sign up -->
    <div class="content-wrapper">
        <div class="card">
            <div class="alert alert-success" th:if="${successMessage}" th:utext="${successMessage}"></div>
            <div class="card-body mx-auto">
                <!-- Inline form with form-groups -->
                <form action="#" th:action="@{/registration}" th:object="${user}" method="post"
                      class="form-inline w-400 mw-full" role="form">
                    <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
                    <fieldset>
                        <!--Show this info message only if registered successfully-->
                        <div class="form-group">
                            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                   class="alert alert-danger"></label>
                            <label class="required w-100" for="name">Name</label>
                            <!-- w-100 = width: 10rem (100px) -->
                            <input type="text" th:field="*{name}" name="name" class="form-control" placeholder="Name"
                                   id="name"
                                   required="required" autofocus="true">
                        </div>

                        <br>
                        <div class="form-group">
                            <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                   class="alert alert-danger"></label>
                            <label class="required w-100" for="lastname">Last Name</label>
                            <!-- w-100 = width: 10rem (100px) -->
                            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name"
                                   name="lastname"
                                   id="lastname" required="required">
                        </div>
                        <br>
                        <div class="form-group">
                            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                   class="alert alert-danger"></label>
                            <label class="required w-100" for="email">Email</label>
                            <!-- w-100 = width: 10rem (100px) -->
                            <input type="email" th:field="*{email}" class="form-control" placeholder="Email"
                                   name="email"
                                   id="email" required="required">
                        </div>
                        <br>
                        <div class="form-group">
                            <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                   class="alert alert-danger"></label>
                            <label class="required w-100" for="username">Username</label>
                            <!-- w-100 = width: 10rem (100px) -->
                            <input type="text" th:field="*{username}" class="form-control" placeholder="Username"
                                   name="username"
                                   id="username" required="required">
                        </div>
                        <br>
                        <div class="form-group">
                            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                   class="alert alert-danger"></label>
                            <label class="required w-100" for="password">Password</label>
                            <!-- w-100 = width: 10rem (100px) -->
                            <input type="password" th:field="*{password}" class="form-control" placeholder="Password"
                                   name="password"
                                   id="password" required="required">
                        </div>
                        <br>
                        <div class="form-group mb-0"> <!-- mb-0 = margin-bottom: 0 -->
                            <input type="submit" class="btn btn-primary ml-auto" value="Sign up">
                            <!-- ml-auto = margin-left: auto -->
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <!-- footer -->
    <nav class="navbar navbar-fixed-bottom">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            </li>
        </ul>
        <span class="navbar-text">
                © Codegym 2020
            </span>
    </nav>
</div>

<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>